body {
    background-color: blueviolet;
}
main h1 {
    color: crimson;
    text-align: center;
}
 footer{
     text-decoration: crimson;
     background-color: darkgoldenrod;
     color: darkgreen;
     line-height: 60px;
 }